@media screen and (min-width: 768px) {
.PrivateEquityBox{
    /* width: 960px; */
    width: 960px;
    margin: 0 auto;
    /* background: salmon; */
    padding: 32px 0;
}

.SMcontent_Boxleft{
   
    padding-right: 12px;
}
.SMcontent_Boxright{
    padding-left: 12px;
}

.SMDataContentGo{
    height: 468px;
    padding-left: 32px;
    padding-right: 32px;
    background: #FFFFFF;
    border-radius: 12px;
}
.raiseclass{
    height:116px;
    border-bottom:1px solid #EEEEEE;
    /* background: aqua; */
}
.raiseclass li{
    text-align: center;
 
}
.raiseclass li:nth-child(1){
    font-size: 16px;
    padding-top: 32px;
font-family: Microsoft YaHei;
font-weight: 400;
}
.raiseclass li:nth-child(2){
    font-size: 32px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #1A63DA;
}
 .SMbutton_Box{
     height: 468px;
     /* background: cornflowerblue; */
 }
 .SM_topbox{
    /* height: 222px; */
    background: #FFFFFF;
    border-radius: 12px;
    padding-bottom: 20px;
 }
.SM_topboxLi{

}
.SM_topboxLi li{
    text-align: center;
}
.SM_topboxLi li:nth-child(1){
    padding-top: 32px;
    font-size: 16px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #333333;

}
.SM_topboxLi li:nth-child(2){
    font-size: 30px;
font-family: Microsoft YaHei;
font-weight: bold;
}
.SM_topButton{
    width: 156px;
    height: 46px;
background: linear-gradient(180deg, #A1C4FD, #CEEDFC);
border-radius: 23px;
margin: 0 auto;
margin-top: 55px;
}
.SM_topButton li{
    font-size: 18px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #1A63DA;
line-height: 46px;
text-align: center;
}
.matopbju{
    margin-top: 24px;
}
.SM_topboxData{
    /* height: 20px; */
    padding-bottom: 10px;
    padding-top: 10px;
    /* background: chocolate; */
}
.SM_topboxData li{
    text-align: center;
    color: #000;
}
.ReleaseTitle{
    padding-left: 10px;
    padding-right: 10px;
}
.ReleaseTitle li{
    /* float: left; */
}













}